<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Beam_Rebar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Beam_Rebar.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
            <setting name="ThicnessSlab" serializeAs="String">
                <value />
            </setting>
            <setting name="n_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="n_bot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cover" serializeAs="String">
                <value />
            </setting>
        </Beam_Rebar.Properties.Settings>
    </userSettings>
</configuration>